<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yahtzee Light</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

@RenderBody()

</body>
</html>
